/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


.hlavni-recept,
.recept {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-top: auto;
}
/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* tvoje styly sem */

.doporucujeme {
  display: flex;
}

.hlavni-recept {
  background-image: url(images/burger.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 2px solid white;
}

.recept2 {
  background-image: url(images/sushi.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.recept3 {
  background-image: url(images/rajcata.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.recept4 {
  background-image: url(images/kure.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.recept5{
  background-image: url(images/grilovani.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.recept-meta {
  display: flex;
  justify-content: space-between; 
  }

h2.recept-nazev {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
 }
/*mobil*/
@media screen and (max-width: 480px) {
   .doporucujeme {
    flex-direction: column;
   }
   .hlavni-recept {
     min-height: 200px;
   }
   h2.hlavni-recept {
     font-size: 1.75rem;
   }
   .recept {
     min-height: 90px;
     border-bottom: 2px solid white;
   }
   h2.recept {
     font-size: 1.2rem;
   }
}

/*tablet*/
@media screen and (min-width: 480px) and (max-width: 860px) {
  .doporucujeme {
    flex-wrap: wrap;
  }
  .hlavni-recept {
    min-height: 250px;
    flex-basis: 100%;
    padding: 0.5rem;
    }

  .sloupec {
    flex-basis: 50%;
  }
  
  .recept {
    min-height: 150px;
    padding: 0.5rem;
  }

  .recept2,
  .recept3 {
    border-right: 2px solid white;
  }

  .recept2,
  .recept4 {
    border-bottom: 2px solid white;
  }

}

/*PC*/
@media screen and (min-width: 860px) {
  .doporucujeme {
    flex-wrap: nowrap;
  }
  .hlavni-recept {
    min-height: 400px;
    flex-basis: calc(100% / 3);
    border-right: 2px solid white;
    padding: 1.75rem;
  }
  .sloupec {
    flex-basis: calc(100% / 3);
  }
  .recept {
    min-height: 200px;
    padding: 1.75rem;
  }

  .recept2,
  .recept4 {
    border-bottom: 2px solid white;
  }

  .recept2,
  .recept3 {
    border-right: 2px solid white;
  }
}